* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  background-color: lightcoral;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.diceGame-rs {
  background-color: rgb(253, 158, 173);
  border-radius: 0 10px 10px 0;
  transition-duration: 200ms;
}
.diceGame-ls {
  border-radius: 10px 0 0 10px;
  background-color: lightpink;
  transition-duration: 200ms;
}
.sides {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 70vh;
  padding: 100px 0;
  text-align: center;
}
.sides .side-heading h1 {
  font-size: 40px;
  font-weight: normal;
}
.sides .side-heading p {
  font-size: 60px;
  font-weight: normal;
  color: lightcoral;
}
.player2Current,
.player1Current {
  width: 170px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  background-color: lightcoral;
  border-radius: 5px;
  color: #fff;
}
.player2Current h5,
.player1Current h5 {
  font-weight: normal;
}
.player2Current p,
.player1Current p {
  font-size: 24px;
}
.playAgainBtn,
.rollDiceBtn,
.holdBtn {
  background-color: #ffffff80;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.playAgainBtn {
  top: 20%;
}
.rollDiceBtn {
  top: 67%;
}
.holdBtn {
  top: 75%;
}
.playAgainBtn i,
.rollDiceBtn i,
.holdBtn i {
  margin-right: 10px;
}
.diceImg {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.victoryMessagePlayer1,
.victoryMessagePlayer2 {
  text-align: center;
  font-size: 60px;
  color: green;
  text-shadow: 1px 1px 3px black;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  word-spacing: 10px;
  letter-spacing: 10px;
  opacity: 0;
  transition-duration: 500ms;
}
@media only screen and (max-width: 1200px) {
  .victoryMessagePlayer1,
  .victoryMessagePlayer2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 700px) {
  .sides {
    padding: 20px 0;
    height: 60vh;
  }
  .sides .side-heading h1 {
    font-size: 24px;
  }
  .sides .side-heading p {
    font-size: 30px;
  }
  .playAgainBtn {
    top: 25%;
  }
  .rollDiceBtn {
    top: 60%;
  }
  .holdBtn {
    top: 68%;
  }

  .diceImg {
    top: 45%;
  }
  .player2Current,
  .player1Current {
    width: 100px;
    height: 80px;
    padding: 10px;
  }
  .victoryMessagePlayer1,
  .victoryMessagePlayer2 {
    font-size: 30px;
  }
}
